.pckgBox {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  margin: 40px 0;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  align-items: center;
  background: #fbfbfb;
}

.pckgBox > * {
  margin: 0;
  margin-bottom: 10px;
}

.mwidth_800 {
  max-width: 800px;
  margin: 0 auto;
}

.searchInput {
  padding: 5px;
  border: none;
  border-bottom: 2px solid #00008b;
  min-width: 200px;
}

.searchInput:focus {
  outline: none;
}

h1 {
  color: #00008b;
}
